# Assignment_20

## Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

S1.

In [1]:
# creating a string and saving it to a variable test1.
test1 = 'This is a test of the emergency text system,'

#  Checking the length of string saved in test2 variable using len() function.
len(test1)

44

In [2]:
# Creating a new test.txt file & saving it to a variable outfile.
outfile = open('test.txt', 'wt')

# Writing test1 to test.txt file.
outfile.write(test1)

# Closing the test.txt file, close() closes the file and frees the memory space acquired by that file.
outfile.close()

## Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

S2.

In [3]:
# Using with open() function  to open test.txt & reading file as myfile
with open('test.txt', 'rt') as myfile:
    
    # Reading myfile content and saving it to test 2 variable
    test2 = myfile.read()

In [4]:
# Checking the length of string saved in test2 variable using len() function.
len(test2)

44

In [5]:
# Equating both  variables test1 & test2
test1 == test2

True

## Q3. Create a CSV file called books.csv by using these lines:

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

S3.

In [6]:
# Assigning the content to text variable.

text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [7]:
# Opening the books.csv file using with open & reading file as outfile.

with open('books.csv', 'wt') as outfile:
    # Writing text to outfile.
    # Closing the file.
    outfile.write(text)
    outfile.close()

In [8]:
# Showing the content of books.csv file.
# Importing csv file.
import csv
with open('books.csv','r') as file_obj:
    # Create reader object by passing the file. 
    # object to reader method.
    reader_obj = csv.reader(file_obj)
      
    # Iterate over each row in the csv. 
    # file using reader object.
    for row in reader_obj:
        print(row)

['title', 'author', 'year']
['The Weirdstone of Brisingamen', 'Alan Garner', '1960']
['Perdido Street Station', 'China Miéville', '2000']
['Thud!', 'Terry Pratchett', '2005']
['The Spellman Files', 'Lisa Lutz', '2007']
['Small Gods', 'Terry Pratchett', '1992']

## Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

S4.

In [9]:
# Importing sqlite3 module.
# sqlite3.connect() API opens a connection to the SQLite database file.
# Create a database cursor to execute SQL statements and fetch results from SQL queries.

import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()

In [10]:
# Create a database table 
curs.execute('''create table book (title text, author text, year int)''')

In [11]:
# commit() method commits the current transaction or changes in database.
db.commit()

## Q5. Read books.csv and insert its data into the book table.

S5.

In [12]:
# importing CSV module.
# Importing sqlite3 module.

import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'

# Opening the books.csv file using with open & reading file as infile.
with open('books.csv', 'rt') as infile:
    # csv.DictReader(file_obj) is a reader object that can be used to fetch row-wise data.
    books = csv.DictReader(infile)
    
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
        print (book)
db.commit()

{'title': 'The Weirdstone of Brisingamen', 'author': 'Alan Garner', 'year': '1960'}
{'title': 'Perdido Street Station', 'author': 'China Miéville', 'year': '2000'}
{'title': 'Thud!', 'author': 'Terry Pratchett', 'year': '2005'}
{'title': 'The Spellman Files', 'author': 'Lisa Lutz', 'year': '2007'}
{'title': 'Small Gods', 'author': 'Terry Pratchett', 'year': '1992'}

## Q6. Select and print the title column from the book table in alphabetical order.

S6.

In [23]:
# printing Title column in alphabetical order
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

Or

In [22]:
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

## Q7. From the book table, select and print all columns in the order of publication.

S7.

In [24]:
# Printing all columns in order of publication
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

Or

In [32]:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

## Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

S8.

In [33]:
# Importing sqlalchemy module
# Connecting to database books.db
# Creating query
# Executing query
# Printing the query using for loop

import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)

for row in rows:
     print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

## Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

S9.

In [15]:
# Installing redis library 
!pip install redis

Requirement already satisfied: redis in c:\users\amank\anaconda3\lib\site-packages (4.5.4)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\amank\anaconda3\lib\site-packages (from redis) (4.0.2)

In [1]:
import redis
#pool = redis.ConnectionPool(host="localhost", port= 6379)
#conn = redis.Redis(connection_pool=pool)
conn = redis.Redis(host="localhost", port= 6379)
conn.ping()

True

In [6]:
conn.hset('test', mapping= {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

## Q10. Increment the count field of test and print it.

S10.

In [4]:
conn.hincrby('test', 'count', 2)

3

In [5]:
conn.hget('test', 'count')

b'3'